@import "tailwindcss";

@theme {
  --font-prata: var(--font-prata);
  --font-montserrat: var(--font-montserrat);
  --color-brand: #7EB77F;
  --color-hero-text: lab(65.9269% -0.832707 -8.17474);
}

@utility font-prata {
  font-family: var(--font-prata);
}

@utility font-montserrat {
  font-family: var(--font-montserrat);
}

@utility font-times {
  font-family: "Times New Roman", Times, serif;
}

@utility text-hero {
  color: var(--color-hero-text);
}

@utility small-caps {
  font-variant-caps: small-caps;
}

@utility text-custom-gradient {
  background-image: linear-gradient(to right, #2D4F2E, #7EB77F, #4A6B4B, #7EB77F, #2D4F2E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@utility text-rose-gradient {
  background-image: linear-gradient(to right, #4A3B40, #8E576B, #5E3D48, #8E576B, #4A3B40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@layer base {
  html, body {
    letter-spacing: 0.05em;
  }
  button, 
  [role="button"],
  a,
  input[type="submit"],
  input[type="button"],
  label,
  select {
    cursor: pointer;
  }
}

